# Exemplo de variáveis de ambiente
GROQ_API_KEY="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"
REPORT_NUMBER=258873429456@c.us
# Opcional: caminho para o Chrome/Chromium
CHROME_PATH=
# HEADLESS true/false
HEADLESS=false
